body{
    background-color: #DFE0E5;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-wrap: wrap;
}
h1{
    width: 100%;
    display: block;
    color: #555A69;
    text-align: center;
} 
h1: hover{
    color: #353F74;
    text-align: center;
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: #555A69;
}
.assign{
    width: 20%;
    box-shadow: 8px 8px #215974;
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #9BC0D2;
}
a:hover{
    text-decoration: none;
    color: #353F74;
}
.assign img{
    width: 300px;
    padding: 10px;
    border: 2px solid #72798A;
}
