body{
    background-color: azure;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color:slategrey;
    text-align: center;
}
a{
    text-decoration: none;
    color: ---
}
.assign{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
}
.assign img{
    width: 300px;
    padding: 10px;
}
